*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;

}

.content{
  display: flex;
  justify-content: center;
}
.calculadora{
  width: 500px;
  margin-top: 20px;
  border: 0.5px solid #ccc;
  border-radius: 10px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  background: #f0f9ff;
  background: -moz-linear-gradient(left,  #f0f9ff 0%, #cbebff 50%, #a1dbff 68%);
  background: -webkit-linear-gradient(left,  #f0f9ff 0%,#cbebff 50%,#a1dbff 68%);
  background: linear-gradient(to right,  #f0f9ff 0%,#cbebff 50%,#a1dbff 68%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=1 );
}

.calc-peso{
  margin-top: 50px;
}

#peso,#altura{
  height: 40px;
  width: 300px;
  font-size: 24px;
  text-align: right;
  padding-right: 15px;
}

#calc{
  background-color: #6bc2f8;
  border: none;
  font-size: 20px;
  font-weight: 100;
  color: white;
  height: 50px;
  width: 100px;
}

/* #calc:hover{
  background-color: #4db2f1;
  transition: all ease-in-out 0.5s;
} */

.calc-btn{
  display: flex;
  justify-content: center;
}

.calc-table{
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bom,.ruim,.alerta{
  padding: 20px;
  width: 400px;
  height: 100px;
  color: rgb(255, 250, 250);
}

.bom{
  background-color: #28a745;
}

.ruim{
  background-color: #dc3545;
}

.alerta{
  background-color: #ffc107;
}

.ruim,.alerta,.bom,#calc:hover {
	-webkit-animation: calc 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: calc 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes calc {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes calc {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
